<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>
Talent is God-given, so be thankful
Praise is man-given, so be humble.
Conceit is self-given, so be careful.

才能は神が与えたもの、
だから感謝しなさい。
賞賛は人間が与えたもの、
だから謙虚になりなさい。
自惚れは自分が与えたもの、
だから用心しなさい。



Tony Danki
（トニー・ダンキ）
（アメリカのアメフトのコーチ）
</string>
		<string>
Life is a tragedy when seen in close-up,
but a comedy in long-shot.

人生はクローズアップして見ると悲劇だが、
距離を置いて見ると喜劇である。



Charlie Chaplin
（チャーリー・チャプリン）
（アメリカの俳優、1889-1977）
</string>
		<string>
Happiness is a perfume 
you cannot pour on others
without getting a few drops on yourself.

幸せとは香水のようなもの。
他人にふりかけることで、
自分にも数滴かかる。



Ralph W. Emerson
（ラルフ・Ｗ．エマーソン）
（アメリカの詩人, 1803-1882）
 </string>
		<string>
Today, which you have spent idly,
is the tomorrow of somebody who died yesterday
and was desperate to live.

あなたが空しく生きた今日は
昨日死んでいった者が
あれほど生きたいと願った明日。



趙　昌仁　著（Cho Chong）
小説『カシコギ』より
</string>
		<string>
There is always light behind the clouds.

雲の向こうは、いつも青空。



Louisa May Alcott
（ルイーザ・メイ・オルコット）
（米国の女性小説家 / 1832～1888）
</string>
		<string>
We keep moving forward,
opening new doors,
and doing new things,
because we&apos;re curious and curiosity
keeps leading us down new paths.

好奇心はいつだって、
新しい道を教えてくれる。



Walt Disney
（ウォルト・ディズニー）
（米国のエンターテイナー、実業家 / 1901～1966）
</string>
		<string>
Stay hungry. Stay foolish.

ハングリーであれ。愚か者であれ。



Steve Jobs
（スティーブ・ジョブズ）
（米国の実業家、アップル創業者 / 1955～2011）
</string>
		<string>
Our life is our art.

僕らの人生は、僕らのアートなのさ。



John Winston Lennon
（ジョン・レノン）
（英国のミュージシャン、ビートルズのリーダー / 1940～1980）
</string>
		<string>
No one has ever drowned in sweat.

汗で溺れた者はいない。



Lou Holtz
（ルー・ホルツ）
（米国のカレッジフットボールコーチ / 1937～）
</string>
		<string>
Everything is practice.

すべては練習のなかにある。



Abédi Pelé
（ペレ）
（ブラジルの元サッカー選手、サッカーの王様と称される / 1940～）
</string>
		<string>
(※)Not a career. This is my life.

キャリアではない。私の人生なんだ。



Steve Jobs
（スティーブ・ジョブズ）
（米国の実業家、アップル創業者 / 1955～2011）


※not original
</string>
		<string>
Do not suppose opportunity
will knock twice at your door.

チャンスが二度も扉をたたくと思うな。



Chamfort
（シャンフォール）
（フランスの劇作家、作家 / 1741～1794）
</string>
		<string>
To be, or not to be: that is the question.

生きるべきか、死ぬべきか。
それが問題だ。



Shakespeare
（シェイクスピア）
（英国の劇作家、詩人 / 1564～1616）
</string>
		<string>
My life didn’t please me,
so I created my life.

私の人生は楽しくなかった。
だから私は自分の人生を創造したの。



Coco Chanel
（ココ・シャネル）
（フランスの女性ファッションデザイナー / 1883～1971）
</string>
		<string>
There is more to life than increasing its speed.

速度を上げるばかりが、人生ではない。



Gandhi
（ガンジー）
（インドの弁護士、宗教家、政治指導者 / 1869～1948）
</string>
		<string>
Change before you have to.

変革せよ。変革を迫られる前に。



JackWelch
（ジャック・ウェルチ）
（米国の実業家 / 1935～）
</string>
	</array>
	<array>
		<string>
Love is best.

愛は最上なり。



Robert Browning
（ロバート・ブラウニング）
（英国の詩人 / 1812～1889）
</string>
		<string>
A wise girl kisses but doesn’t love,
listens but doesn’t believe,
and leaves before she is left.

頭のいい女の子は、キスはするけど愛さない。
耳を傾けるけど信じない。
そして捨てられる前に捨てる。



Marilyn Monroe
（マリリン・モンロー）
（米国の女優 / 1926～1962）
</string>
		<string>
You must love him, ere to you.
He will seem worthy of your love.

自分の愛に値する相手かどうか、
考える前に愛せよ。



William Wordsworth
（ウィリアム・ワーズワース）
（英国のロマン派詩人 / 1770～1850）
</string>
		<string>
A man falls in love through his eyes,
a woman through her ears.

男は目で恋に落ち、女は耳で恋に落ちる。



Woodrow Wyatt
（ウッドロー・ワイヤット）
（英国の政治家、作家、ジャーナリスト / 1918～1997）
</string>
		<string>
Love is like a flower – you’ve got to let it grow.

愛とは、育てなくてはいけない花のようなもの。



John Lennon
（ジョン・レノン）
（英国のミュージシャン、ビートルズのリーダー / 1940～1980）
</string>
		<string>
Love fed fat soon turns to boredom.

みちたりてしまった恋は、
すぐに、退屈になってしまうものである。



Ovid
（オヴィディウス）
（古代ローマの詩人 / 紀元前43～紀元17）
</string>
		<string>
The course of true love never did run smooth.

真の恋の道は、茨の道である。



Shakespeare
（シェイクスピア）
（英国の劇作家、詩人 / 1564～1616）
</string>
		<string>
If you would be loved, love and be lovable.

愛されたいなら、愛し、愛らしくあれ。



Benjamin Franklin
（ベンジャミン・フランクリン）
（米国の政治家、外交官、著述家、物理学者、気象学者 / 1706～1790）
</string>
		<string>
Mr. Right is coming.
But he’s in Africa and he’s walking.
運命のひとは必ずあらわれる。
ただ彼は今頃アフリカあたりにいて、
しかも徒歩でこっちに向っているにちがいないわ。



Oprah Gail Winfrey
（オプラ・ウィンフリー）
（米国の女性テレビ司会者、女優 / 1954～）
</string>
		<string>
You never know,
maybe that’s the day she has a date with destiny.
And it’s best to be as pretty as possible for destiny.

その日、ひょっとしたら、
運命の人と出会えるかもしれないじゃない。
その運命のためにも、
できるだけかわいくあるべきだわ。


Coco Chanel
（ココ・シャネル）
（フランスの女性ファッションデザイナー / 1883～1971）
</string>
		<string>
Your love makes me at once the happiest
and the unhappiest of men.

君の愛は、私を最も幸せな男にするのと同時に
最も不幸な男にもする。



Ludwig van Beethoven
（ベートーヴェン）
（ドイツの作曲家 / 1770～1827）
</string>
		<string>
We waste time looking for the perfect lover,
instead of creating the perfect love.

私たちは完璧な愛を創る代わりに、
完璧な恋人を探そうとして時を無駄にしている。



Tom Robbins
（トム・ロビンズ）
（米国の小説家 / 1936～）
</string>
	</array>
	<array>
		<string>
Genius is 1 percent inspiration and
99 percent perspiration.

天才とは、
1％のひらめきと99％の努力である。



Thomas Alva Edison
（トーマス・エジソン）
（米国の発明家、起業家 / 1847～1931）
</string>
		<string>
(※)I&apos;m still 30 years old.
I have something to  want to achieve still.

僕は三十歳、まだまだ成し遂げたいことがある。



Steve Jobs
（スティーブ・ジョブズ）
（米国の実業家、アップル創業者 / 1955～2011）


※not original
</string>
		<string>
A problem is your chance to do your best.

困難とは、ベストを尽くせるチャンスなのだ。



Edward Kennedy Duke Ellington
（デューク・エリントン）
（米国のジャズオーケストラリーダー / 1899～1974）
</string>
		<string>
Victory is sweetest when you’ve known defeat.

敗北を味を知ってこそ、
最も甘美な勝利が味わえる。



Malcolm Stevenson Forbes
（マルコム・フォーブス）
（米国のフォーブス誌の元発行人 / 1919～1990）
</string>
		<string>
One of these days is none of these days.

「いつの日か」は、決してやってこない。



Bohn, Henry George
（ヘンリー・ジョージ・ボーン）
（英国の出版業経営者 / 1796～1884）
</string>
		<string>
Believe and act as if it were impossible to fail.

失敗なんてありえないと信じて、
やってみるんだ。



Charles Franklin Kettering
（チャールズ・ケタリング）
（米国の農民、教員、科学者、発明家 / 1876～1958）
</string>
		<string>
Never complain. Never explain.

不平を言わない。言い訳をしない。



Katharine Houghton Hepburn
（キャサリン・ヘプバーン）
（米国の女優 / 1907～2003）
</string>
		<string>
(※)The person who can succeed are
challenged with the premise
〈do not go your way is happens is natural〉.

成功できる人っていうのは、
「思い通りに行かない事が起きるのはあたりまえ」
という前提を持って挑戦している。



Thomas Alva Edison
（トーマス・エジソン）
（米国の発明家、起業家 / 1847～1931）


※not original
</string>
		<string>
Your regrets aren’t what you did,
but what you didn’t do.
So I take every opportunity.

後悔とは、
やってしまったことにするもんじゃなくて、
やらなかったことにするもの。
だから私はチャンスがきたら必ずトライするわ。



Cameron Michelle Diaz
（キャメロン・ディアス）
（米国の女優 / 1972～）
</string>
		<string>
I have failed many times,
and that&apos;s why I am a success.

ぼくは何度も失敗した。
それが成功した理由だ。



Michael Jordan
（マイケル・ジョーダン）
（アメリカのバスケットボール選手、1963- )
</string>
		<string>
The wise love to learn,
while fools love to teach.

愚者は教えたがり、
賢者は学びたがる。



Anton Pavlovich Chekhov
（アントン・パヴロヴィチ・チェーホフ）
（ロシアの作家, 1860-1904）
</string>
		<string>
The achievement of one goal 
is the starting point of another.

1つの目標達成は新たな目標の出発点だ。



Alexander Graham Bell
（アレクサンダー・グラハム・ベル）
 (アメリカの電話発明者）
</string>
	</array>
	<array>
		<string>
Women like a man with a past,
but they prefer a man with a present.

女性は過去を持った男が好き。
でもプレゼント（現在）を持った男はもっと好き。



Mae West
（メイ・ウエスト）
（米国の女優 / 1893～1980）
</string>
		<string>
Friendship is an arrangement by which
we undertake to exchange small favors for big ones.

友情とは、誰かに小さな親切をしてやり、
お返しに大きな親切を期待する契約である。



Montesquieu
（モンテスキュー）
（フランスの哲学者、三権分立論を提唱 / 1689～1755）
</string>
		<string>
Time passes, and little by little everything that we have spoken in falsehood becomes true.

時は過ぎゆく。そして少しずつ、
我々が口にしてきた嘘は、真実になる。



Marcel Proust
（マルセル・プルースト）
（フランスの作家 / 1871～1922）
</string>
		<string>
The optimist sees the doughnut,
the pessimist sees the hole.

楽観主義者はドーナツを見て、
悲観主義者はその穴をみる。



Oscar Wilde
（オスカー・ワイルド）
（アイルランドの詩人、作家、劇作家 / 1854～1900）
</string>
		<string>
Wear a smile and have friends; 
wear a scowl and have wrinkles.

笑顔を浮かべれば、友達ができます。
でも、しかめっ面を浮かべれば、
しわができます。



George Eliot
（ジョージ・エリオット)
（英国の女性作家 / 1819～1880）
</string>
		<string>
Quitting smoking is easy.
I’ve done it a thousand times.

禁煙なんて簡単さ。
私はもう何千回もやめてきたのだから。



Mark Twain
（マーク・トウェイン）
（米国の作家、小説家 / 1835～1910）
</string>
		<string>
God heals, and the doctor takes the fee.

神が病を癒し、医者が料金を取る。



Benjamin Franklin
（ベンジャミン・フランクリン）
（米国の政治家、外交官、著述家、物理学者、気象学者 / 1706～1790）
</string>
		<string>
I can live for two months on a good compliment.

よいお世辞があれば、
2ヶ月はそれで生きられる。



Mark Twain
（マーク・トウェイン）
（米国の作家、小説家 / 1835～1910）
</string>
		<string>
Love is what happens to men and women who don’t know each other.

愛とは、お互いに相手を知らない男女の間に発生するものである。



W. Somerset Maugham
（サマセット・モーム）
（英国の劇作家、小説家 / 1874～1965）
</string>
		<string>
Let us leave pretty women to men with no imagination.

美しい女たちのことは、
想像力のない男たちに任せておこう。



Marcel Proust
（マルセル・プルースト）
（フランスの作家 / 1871～1922）
</string>
		<string>
Name the greatest of all inventors. Accident.

最も偉大な発明家は誰か。
それは「偶然」である。



Mark Twain
（マーク・トウェイン）
（米国の作家、小説家 / 1835～1910）
</string>
		<string>
Intelligent women have millions of enemies
from the time they were born.
They are all foolish men.

聡明な女性は生まれながらにして、
数百万人の敵がいる。
それらはすべて愚かな男たちだ。



Anonymous（作者不明）
</string>
		<string>
Politeness is half good manners
and half good lying.

礼儀正しさの中身は、
よいマナーが半分、上手なうそが半分である。



Mary Wilson Little
（メアリー・ウィスソン・リトル）
（アメリカの作家、1900- ）
</string>
		<string>
The best way to keep one’s word is not to give it.

約束を守る最上の方法は、決して約束しないことだ	。


Napoleon
（ナポレオン・ボナパルト）
（フランスの皇帝、政治家、軍人 / 1769～1821）
</string>
		<string>
Forgive your enemies, but never forget their names.

あなたの敵を許しなさい。
だが、その名前は決して忘れるな。


John F. Kennedy
（ジョン・F・ケネディ）
（米国の第35代大統領、1963年にダラスにて暗殺 / 1917～1963）
</string>
	</array>
	<array>
		<string>
As you dream about everything,
your life is brilliant

夢を見るから、人生は輝く。



Wolfgang Amadeus Mozart
（モーツァルト）
（オーストリアの作曲家、演奏家 / 1756～1791）
</string>
		<string>
Never let your memories be greater
than your dreams.

過去よりも大きな夢を持とう。



Douglas
（ダグラス・アイベスター）
（米国の経営者 / 1947～）
</string>
		<string>
If you can dream it, you can do it.

夢見ることができれば、それは実現できる。



Walt Disney
（ウォルト・ディズニー）
（米国のエンターテイナー、実業家 / 1901～1966）
</string>
		<string>
The future belongs to those
who believe in the beauty of their dreams.

未来は美しい夢を信じる人のためにあります。



Anna Eleanor Roosevelt
（エレノア・ルーズベルト）
（米国のファーストレディ、人権活動家 / 1884～1962）
</string>
		<string>
If there were dreams to sell,
what would you buy?

もし夢を売っていたら、
あなたはどんな夢を買いますか？



Thomas Lovell Beddoes
（トーマス・ロベル・ベドス）
（英国の詩人 / 1803～1849）
</string>
		<string>
The biggest adventure you can take is to live the life of your dreams.

あなたにとっての最も大きな冒険は、
あなたの夢に生きること。



Oprah Gail Winfrey
（オプラ・ウィンフリー）
（米国の女性テレビ司会者、女優 / 1954～）
</string>
		<string>
The special secret of making dreams come true can be summarized in four C’s.
They are Curiosity, Confidence,
Courage, and Constancy.

夢をかなえる秘訣は、
4つの「C」に集約される。
それは、「Curiosity – 好奇心」
「Confidence – 自信」
「Courage – 勇気」
そして「Constancy – 継続」である。


Walt Disney
（ウォルト・ディズニー）
（米国のエンターテイナー、実業家 / 1901～1966）
</string>
		<string>
Dream no small dreams for they have no power to move the hearts of men.

小さい夢は見るな。
それには人の心を動かす力がないからだ。



Johann Wolfgang von Goethe
（ゲーテ）
（ドイツの詩人、小説家、劇作家 / 1749～1832）
</string>
		<string>
(※)If you want to have a dream in children,
adult should have a dream.

子供に夢を持たせたければ、
大人こそ夢を持て。



アントニオ猪木
（Antonio inoki）
（日本の元プロレスラー、元参議院議員 / 1943～）


※not original
</string>
		<string>
夢なき者は理想なし。理想なき者は信念なし。
信念なき者は計画なし。計画なき者は実行なし。
実行なき者は成果なし。成果なき者は幸福なし。
ゆえに幸福を求むる者は夢なかるべからず。



渋沢栄一
（Eiichi Shibusawa）
（日本の武士、官僚、実業家、日本資本主義の父 / 1840～1931）


※No English
</string>
		<string>
1年目には種をまき、2年目には水をやり、
3年目には花を咲かせましょう。



野村克也
（Katsuya Nomura）
（日本の元プロ野球選手、監督、野球解説者、野球評論家 / 1935～）


※No English
</string>
		<string>
Laughter is timeless.
Imagination has no age.
And dreams are forever.

笑い声は時代を超え、想像力は年を取らない。
そして、夢は永遠のものだ。



Walt Disney
（ウォルト・ディズニー）
（米国のエンターテイナー、実業家 / 1901～1966）
</string>
		<string>
If your heart is in your dreams,
no request is too extreme.

あなたの心に夢があるなら、
どんな願いごとも大きすぎることはない



When You Wish Upon a Star from Pinocchio
『星に願いを』
（アニメ映
画 『ピノキオ』の主題歌）
</string>
	</array>
	<array>
		<string>
I would rather walk with a friend in the dark,
than alone in the light.

光の中を一人で歩むよりも、
闇の中を友人と共に歩むほうが良い。


Helen Keller
（ヘレン・ケラー）
（米国の教育家、社会福祉活動家、著作家 / 1880～1968）
</string>
		<string>
The trouble is not in dying for a friend,
but in finding a friend worth dying for.

難しいのは友のために死ぬことではない。
命をかけるだけの価値がある友を見つけることが難しいのだ。



Mark Twain\n（マーク・トウェイン）
（米国の作家、小説家 / 1835～1910）
</string>
		<string>
I wish they would only take me as I am.

私はあるがままの自分を受け入れてくれることだけを望む。



Vincent van Gogh\n（ゴッホ）
（オランダ出身のポスト印象派の画家 / 1853～1890）
</string>
		<string>
My best friend is the one who brings out the best in me.

最高の友は、
私の中から最高の私を引き出してくれる友である



Henry Ford
（ヘンリー・フォード）
（米国の実業家、フォード・モーター創業者 / 1863～1947）
</string>
		<string>
Other men are lenses through
which we read our own minds.

他人とは、自分自身の心を読み取ることのできるレンズである。



Ralph Waldo Emerson
（エマーソン）
（米国の思想家、哲学者、作家、詩人 / 1803～1882）
</string>
		<string>
A slip of the foot you may soon recover,
but a slip of the tongue you may never get over.

足を滑らせてもすぐに回復できるが、
口を滑らせた場合は決して乗り越えることはできない。

Benjamin Franklin
（ベンジャミン・フランクリン）
（米国の政治家、外交官、著述家、物理学者、気象学者 / 1706～1790）
</string>
		<string>
The best way to cheer yourself up
is to try to cheer somebody else up.

自分を元気づける一番良い方法は、
誰か他の人を元気づけてあげることだ。



Mark Twain
（マーク・トウェイン）
（米国の作家、小説家 / 1835～1910）
</string>
		<string>
The best way to find out
if you can trust somebody is to trust them.

誰かを信頼できるかを試すのに一番良い方法は、
彼らを信頼してみることだ。



Ernest Hemingway
（ヘミングウェイ）
米国の小説家、ノーベル文学賞受賞者 / 1899～1961）
</string>
		<string>
The proper office of a friend is to side with you
when you are in the wrong.
Nearly anybody will side with you
when you are in the right.

正しい友人というものは、
あなたが間違っているときに味方してくれる者のこと。
正しいときには誰だって味方をしてくれるのだから。



Mark Twain
（マーク・トウェイン）
（米国の作家、小説家 / 1835～1910）
</string>
	</array>
	<array>
		<string>
Hope for the best and prepare for the worst.


最善のものを希望せよ。
しかし最悪のものに備えよ。



Proverb of the West
（西洋のことわざ）
</string>
		<string>
(※)What is live without a doubt, not so smart.


間違いをせずに生きるものは、
それほど賢くない。



French proverb
フランスのことわざ



※not original
</string>
		<string>
Experience without learning is better 
than learning without experience.


学問なき経験は、
経験なき学問に勝る。



British proverb
イギリスのことわざ
</string>
		<string>
Let him that would be happy for a day,
go to the barber;
for a week, marry a wife;
for a month, buy him a new horse;
for a year, build him a new house;
for all his lifetime, be an honest man.
一日だけ幸せでいたいならば
床屋にいけ。
一週間だけ幸せでいたいなら
車を買え。
一か月だけ幸せでいたいなら
結婚をしろ。
一年だけ幸せでいたいなら
家を買え。
一生幸せでいたいなら正直でいることだ。

British proverb
イギリスのことわざ
</string>
		<string>
(※)Chess is finished,
the king also infantry also are
going back in the same box.


チェスが終われば、
王様も歩兵も同じ箱に帰る。


Italy proverb
イタリアのことわざ



※not original
</string>
		<string>
(※)After happiness has left,gives off light.


幸せは去ったあとに
光を放つ。



British proverb
イギリスのことわざ



※not original
</string>
		<string>
(※)Opportunity than abandon the people,
better people abandon the opportunity in many cases.


機会が人を見捨てるよりも、
人が機会を見捨てるほうが多い。



French proverb
フランスのことわざ



※not original
</string>
		<string>
Better〈thank God〉
rather than〈God forbid.〉


「神様お願いします」より
「神様のおかげです」がいい。



Russia proverb
ロシアのことわざ
</string>
		<string>
(※)Unfortunate people should have hope.
But happy people beware.


不幸な人は希望をもて。
幸福な人は用心せよ。



Latin proverb
ラテンのことわざ



※not original
</string>
		<string>
(※)What you want to warm up after taking a year,
make a fireplace while young.


年をとってから暖まりたいものは、
若いうちに暖炉を
作っておかなければならない。


Germany proverb
ドイツのことわざ



※not original
</string>
		<string>
(※)Thing I knew the taste of bitterness
do not know even sweetness.


苦さの味を知らぬものは
甘さもわからない。



Germany proverb
ドイツのことわざ



※not original
</string>
		<string>
(※)Who spit in the well,
must drink the water someday.


井戸に唾を吐く者は、
いつかその水を飲まなければならない。



Judea proverb
ユダヤのことわざ



※not original
</string>
		<string>
(※)The dance together when people dance.


人が踊る時は一緒に踊れ。



Germany proverb
ドイツのことわざ



※not original
</string>
		<string>
Eat to live, but do not live to eat.


食べるために生きるな。
生きるために食べよ。



British proverb
イギリスのことわざ
</string>
		<string>
Looking at yourself is the hardest of all.
Criticizing others is the easiest of all.

この世で一番難しいのは自分を見つめること。
一番たやすいのは他人を批判すること。



British proverb
イギリスのことわざ
</string>
		<string>
When you give up dreaming, you are lost.

夢見る気持ちを失った人は迷子である。



Aboriginal proverb
アボリジニのことわざ
</string>
		<string>
Imitation is the sincerest form of flattery.

真似することは心からの賛辞である。



Proverb(ことわざ)
</string>
		<string>
Love me little and love me long.

少し愛して、長く愛して。



Proverb(ことわざ)
</string>
	</array>
	<array>
		<string>
Dressing is a way of life.

服装は生き方である。



Yves Saint-Laurent
（イヴ・サン＝ローラン）
（フランスのファッションデザイナー / 1936～2008）
</string>
		<string>
(※)At one time or another,
a woman let me love a bad man in life.
But why, is it can feel to thank
when I met a good man.

女は、人生で一度や二度は、
ワルい男を愛してしまうの。
でもだからこそ、イイ男に出会ったとき、
感謝する気持ちになれるのよ。



Marjorie Kinnan Rawlings
（マージョリー・キナン・ローリングス）
（米国の女性作家 / 1986～1953）


※not original
</string>
		<string>
(※)Because should be for yourself
in your own life,
waiting the prince riding a white horse
just to make for happiness yourself useless.
In own future, we must open up on their own.
自分の人生には、
自分で責任を持つべきだから、
ただ自分を幸せにしてくれる白馬にまたがった
王子様を待っているなんてダメ。
自分の将来は、
自分で切り開いていかなきゃね。


Cameron Michelle Diaz
（キャメロン・ディアス）
（米国の女優 / 1972～）

※not original
</string>
		<string>
(※)The more who cried a lot
eyes wash with tears,
field of view becomes widely.


涙で目が洗えるほどたくさん泣いた女は、
視野が広くなるの。


Dorothy Dix
（ドロシー・ディックス）
（米国のジャーナリスト / 1861～1951）


※not original
</string>
		<string>
For attractive lips, speak words of kindness.
For lovely eyes, seek out the good in people


魅力的な唇のためには、
優しい言葉を紡ぐこと。
愛らしい瞳のためには、
人々の素晴らしさを見つけること


Audrey Hepburn
（オードリー・ヘップバーン）
（英国の女優 / 1929～1993）
</string>
		<string>
Adornment, what a science!Beauty,
what a weapon!Modesty, what elegance!


美しさは女性の「武器」であり、
装いは「知恵」であり、
謙虚さは「エレガント」である。


Coco Chanel
（ココ・シャネル）
（フランスの女性ファッションデザイナー / 1883～1971）
</string>
		<string>
(※)恋愛がうまく行かない時は、
良い仕事が来るもの。
幸せを全部手に入れようとしたら命と引き換え。
正負の法則であり地球の法則。



美輪明宏
（Akihiro Miwa）
（日本のシンガーソングライター、俳優、演出家 / 1935～）


※No English
</string>
		<string>
Beautiful young people are accidents of nature,
but beautiful old people are works of art.


若くて美しいことは、
自然のいたずら。
年をとっても美しいことは芸術です。


Anna Eleanor Roosevelt
（エレノア・ルーズベルト）
（米国のファーストレディ、人権活動家、世界人権宣言の起草者 / 1884～1962）
</string>
		<string>
(※)Talking is the last refuge.


おしゃべりこそ、
最後の逃げ場。



Zora Neale Hurston
（ゾラ・ニール・ハーストン）
（米国の黒人女性作家 / 1891～1960）


※not original
</string>
		<string>
(※)Not only cleaning and cooking and child care,
there are more important things in life.
I do not want to send life
to wash the dishes.


料理や育児や掃除だけじゃなく、
人生にはもっと大切なことがある。
私は食器を洗って一生を送りたくない。


Margaret Hilda Thatcher
（マーガレット・サッチャー）
（英国初の女性首相 / 1925～2013）


※not original
</string>
		<string>
People laughed at the way I dressed,
but that was the secret of my success.
I didn&apos;t look like anyone.


みんな、私の着ているものを見て笑ったわ。
でもそれが私の成功の鍵。
みんなと同じ格好をしなかったからよ。


Coco Chanel
（ココ・シャネル）
（フランスの女性ファッションデザイナー / 1883～1971）
</string>
		<string>
(※)Woman, please independence.
Stand on their feet.


女性よ自立しなさい。
自分の足で立ちなさい。



Florence Nightingale
（ナイチンゲール）
（英国の看護師、社会起業家、看護教育学者 / 1820～1910）


※not original
</string>
		<string>
I&apos;m very definitely a woman and I enjoy it.


私は女だし、
女であることを\n楽しんでるわ。


Marilyn Monroe
（マリリン・モンロー）
（米国の女優 / 1926～1962）
</string>
		<string>
A woman without perfume
is a woman without future.


香水をつけない女性に
未来はない。


Coco Chanel
（ココ・シャネル）
（フランスの女性ファッションデザイナー / 1883～1971）
</string>
		<string>
I don&apos;t want to make money,
I just want to be wonderful.


お金が欲しいんじゃない。
ただ、素晴らしい女になりたいの。
Marilyn Monroe
（マリリン・モンロー）
（米国の女優 / 1926～1962）
</string>
		<string>
人から多くの好意を寄せられる人は、
その分多くの嫉妬も受ける。
美しく生まれた人にはそれがハンデとなる。



美輪明宏
（Akihiro Miwa）
（日本のシンガーソングライター、俳優、演出家 / 1935～）


※No English
</string>
	</array>
	<array>
		<string>
All it takes is faith and trust.

必要なのは、ただ信じる事さ。


ピーター・パン
</string>
		<string>
They can&apos;t order me to stop dreaming.

夢を見ることは、誰にも止められないわ。


シンデレラ
</string>
		<string>
If you keep on believing,
the dreams that you wish will come true.

信じていれば、夢は叶う。


シンデレラ
</string>
		<string>
The world&apos;s a stage and
it is time for your debut.

世界は君を待っているよ。


フィニアスとファーブ
</string>
		<string>
Always let your conscience be your guide.

常に良心に従いなさい。


ピノキオ
</string>
		<string>
Do what you think is right.

君が正しいと思うことをしろ。


ノートルダムの鐘
</string>
		<string>
The flower that blooms in adversity
is the rarest and most beautiful of all.

逆境に咲く花は、
もっとも貴重でもっとも美しい。


ムーラン
</string>
		<string>
I know it&apos;s tough,
but heroes have to make the tough choices sometimes.
悲しいことだが、ヒーローには
辛い決断をしなければならん時もあるのだ。


シュガー・ラッシュ
</string>
		<string>
Keep your chin up.
Someday there will be happiness again.

元気を出して。
いつかまた幸せが訪れるさ。


ロビン・フッド
</string>
		<string>
You&apos;re braver than you believe,
and stronger than you seem,
and smarter than you think.

君は自分で思っているより
ずっと勇敢だし、強いし、頭もいいんだ。


くまのプーさん
</string>
		<string>
All at once everything looks different,
now that I see you.

あなたといると、何もかも違って見える。


塔の上のラプンツェル
</string>
		<string>
Lost forever if I never knew you.

もしあなたと出会わなければ、
永遠に迷子だった。


ポカホンタス
</string>
		<string>
Trust me!

僕を信じて！


アラジン
</string>
		<string>
It is not what is outside,
but what is inside that counts!

大事なのは外見じゃない、中身だ！


アラジン
</string>
		<string>
You&apos;re the one,
the one that I&apos;ve been looking for!

君こそ、僕のずっと探し求めていた人だ！


リトル・マーメイド
</string>
		<string>
Like a bolt out of the blue,
Fate steps in and sees you through.

運命は稲妻のように突然訪れ、心を射抜く。


ピノキオ
</string>
		<string>
You are my new dream.
君が僕の新しい夢だ。


塔の上のラプンツェル
</string>
		<string>
Every hour we spent together,
lives within my heart.

共に過ごした日々は、
今も心の中に生きている。


トイ・ストーリ―2
</string>
		<string>
Sometimes it&apos;s better to be alone.

ひとりでいるほうが良かったりもするものよ。


ヘラクレス
</string>
		<string>
All females is poison!
They&apos;re full of wicked wiles!

女は有害だ！
やつらは謀略に満ちあふれてる！


白雪姫
</string>
		<string>
If there&apos;s a prize for rotten judgment,
I guess I already won that.

間違った判断だったの。
その報いは受けたと思うわ。


ヘラクレス
</string>
		<string>
Everybody deserves true love.

誰だって真の愛に出会う資格はある。


シンデレラ3
</string>
		<string>
I let her go,
...because I love her!

彼女を自由にした。…愛しているから。


美女と野獣
</string>
	</array>
</array>
</plist>
